
.logo{
    position: relative;
  z-index: 1;
    
     
    } 
   img {
     
     position: absolute;
     float: left;
    
   
     
    }
  


.navigation {
  position: relative;
  
   list-style: none;
    margin: 0; 
    background: rgb(36, 172, 182);
    display: flex;
   justify-content: stretch;
 }
/* .navigation li:first-child {
  z-index: 1;
  align-self: flex-start; 
}  */
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1.5em;
    color: rgb(245, 243, 239);
   
  }
  
  .navigation a:hover {
    background: darken(rgb(49, 134, 204), 2%);
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(35, 154, 184, 0.3); 
      border-bottom: 1px solid rgba(37, 169, 202, 0.1); 
    }
  
  
    .navigation li:last-of-type a {
      border-bottom: none;
     
    }
   
  }
  .button{
    background: rgb(36, 172, 182);
  }
    

